/* Coolors Exported Palette - coolors.co/3b0605-470a06-6b0d0b-91100e-b52124 */

/* HSL */
$color1: hsla(1%, 84%, 13%, 1);
$color2: hsla(4%, 84%, 15%, 1);
$color3: hsla(1%, 81%, 23%, 1);
$color4: hsla(1%, 82%, 31%, 1);
$color5: hsla(359%, 69%, 42%, 1);

/* RGB */
$color1: rgba(59, 6, 5, 1);
$color2: rgba(71, 10, 6, 1);
$color3: rgba(107, 13, 11, 1);
$color4: rgba(145, 16, 14, 1);
$color5: rgba(181, 33, 36, 1);